body{
    overflow: hidden;
}

#output{
    background-color: grey;
    color: #000;
    display: block;
}
.height,
.click{
    display: block;
    height: 8.5rem;
}
.click{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

}